
:root{
    --font-primary: "Trebuchet MS", Helvetica, sans-serif;
    --font-secondary: serif;
}
h1 {
    color: darkblue;
}
body {
    color: peachpuff;
    background: radial-gradient(<gradient values>) 
}
* {
    outline: 1px solid purple;
}